[Enlightenment]
Version=0.24.2

[E_Config]
config_version=131072
wizard_checked=1
use_composite=1
language=en_US.UTF-8
scaling_factor=1.0
scale.min=0.25
scale.max=3.00
scale.step=0.01

[E_Remember_Settings]
window.remember.auto.enable=1

[Xkb]
use_layout=1
used_layouts=us;
use_model=1
current_layout=0
model=pc105

[Mouse]
cursor_size=32
accel_numerator=2
accel_denominator=1
accel_threshold=4

[Startup]
firsttime.wizard=0