[Backlight]
idle_dim=0

[Screen]
blanking=0
idle_time=0
screensaver_timeout=0
dpms_enabled=0
dpms_standby_timeout=0
dpms_suspend_timeout=0
dpms_off_timeout=0

[Screensaver]
enable_screensaver=0
custom_screensaver_cmd=
ask_presentation=0
presentation_mode=0
use_timeout=0
timeout=300