[Unit]
Description=Matchbox Window Manager
After=network.target

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
ExecStart=/usr/bin/startx /etc/X11/matchbox/autostart.sh -- -nocursor
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target