all:
  children:
    protosuit:
      hosts:
        protosuit-pi:
          ansible_host: localhost
          ansible_connection: local
          ansible_user: proto
          # Uncomment and modify for remote deployment
          # (not recommended, please clone on the Pi directly if possible)
          # ansible_host: 192.168.1.100
          # ansible_connection: ssh
          # ansible_ssh_private_key_file: ~/.ssh/id_rsa
      vars:
        # Pi-specific configuration
        pi_user: proto
        pi_home: /home/proto
        project_dir: "/home/proto/protosuit-engine"
        display_width: 720
        display_height: 720
        # MQTT configuration
        mqtt_broker: localhost
        mqtt_port: 1883
        # Service configuration
        service_user: "proto"
        service_group: "proto"
        system_packages:
          - mosquitto
          - mosquitto-clients
          - python3
          - python3-pip
          - python3-venv
          - mpv
          - feh
          - chocolate-doom
          - retroarch
          - bluetooth
          - bluez
          - python3-evdev
          - pulseaudio
          - pulseaudio-module-bluetooth
          - pulseaudio-utils
          - x11-xserver-utils
          - xorg
          - libx11-dev
          - libgl-dev
          - git
          - curl
          - wget
          - unzip
          - zsh
          - scrot
          - ffmpeg
          - unclutter
          - xdotool
          - libsfml-dev
          - build-essential
          - cmake
          - libudev-dev
          - libopenal-dev
          - libvorbis-dev
          - libogg-dev
          - libflac-dev
          - libgtk-3-dev
          - libayatana-appindicator3-dev
          - libxdamage-dev
          - libxfixes-dev
          - libxi-dev
          - libxrandr-dev
          - libxrender-dev
          - meson
          - ninja-build
          - libsdl2-ttf-2.0-0

        # Display configuration
        display_config:
          hdmi1:
            name: "HDMI-1"
            resolution: "720x720"
            position: "0x0"
            rotation: "right"
          hdmi2:
            name: "HDMI-2"
            resolution: "720x720"
            position: "720x0"
            rotation: "left"
        # X11 configuration
        x11_config:
          disable_screensaver: true
          disable_power_management: true
          allow_local_connections: true
        # Service configuration
        service_config:
          restart_policy: always
          restart_sec: 10
          timeout_stop_sec: 30
