---
# Main setup tasks for Protosuit Engine
# This file is included by other playbooks

- name: Update package cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install system packages
  apt:
    name: "{{ system_packages }}"
    state: present
    update_cache: yes

- name: Configure Mosquitto for WebSocket support
  copy:
    dest: /etc/mosquitto/conf.d/websockets.conf
    content: |
      # WebSocket support for browser clients (accessible from all interfaces)
      listener 9001 0.0.0.0
      protocol websockets
      allow_anonymous true

      # Standard MQTT port (accessible from all interfaces)
      listener 1883 0.0.0.0
      protocol mqtt
      allow_anonymous true
    mode: "0644"
  notify: restart mosquitto

- name: Ensure mosquitto service is enabled and started
  systemd:
    name: mosquitto
    enabled: yes
    state: started

- name: Create Python virtual environment
  command: python3 -m venv "{{ project_dir }}/env"
  become_user: "{{ pi_user }}"
  args:
    creates: "{{ project_dir }}/env/bin/python"

- name: Install Python packages in virtual environment
  command: "env/bin/pip install -r requirements.txt"
  become_user: "{{ pi_user }}"
  args:
    chdir: "{{ project_dir }}"

# Include Super Haxagon tasks
- name: Include Super Haxagon installation tasks
  include_tasks: superhaxagon_tasks.yml

# Download custom Doom WAD for deathmatch
- name: Create WAD directory
  file:
    path: /usr/share/games/doom/wads
    state: directory
    mode: '0755'

- name: Download custom deathmatch WAD
  get_url:
    url: "https://archive.org/download/wadarchive/DATA/a4.zip/a4%2F52e5e6b94a19a1e88e3f991ac5803333fd75b6%2Fa452e5e6b94a19a1e88e3f991ac5803333fd75b6.wad.gz"
    dest: /usr/share/games/doom/duelpack.wad.gz
    mode: '0644'

- name: Extract WAD file
  shell: gunzip -c /usr/share/games/doom/duelpack.wad.gz > /usr/share/games/doom/duelpack.wad
  args:
    creates: /usr/share/games/doom/wads/duelpack.wad

- name: Remove compressed WAD file
  file:
    path: /usr/share/games/doom/duelpack.wad.gz
    state: absent

- name: Set zsh as default shell for pi user
  user:
    name: "{{ pi_user }}"
    shell: /usr/bin/zsh

- name: Check if Oh My Zsh is already installed
  stat:
    path: "/home/{{ pi_user }}/.oh-my-zsh"
  register: ohmyzsh_stat

- name: Install Oh My Zsh
  shell: |
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
  become_user: "{{ pi_user }}"
  when: not ohmyzsh_stat.stat.exists

- name: Set Oh My Zsh theme to robbyrussell
  lineinfile:
    path: "/home/{{ pi_user }}/.zshrc"
    regexp: '^ZSH_THEME='
    line: 'ZSH_THEME="robbyrussell"'
    owner: "{{ pi_user }}"
    group: "{{ pi_user }}"

- name: Create protosuit-renderer systemd service file
  template:
    src: "{{ playbook_dir }}/../templates/protosuit-renderer.service.j2"
    dest: /etc/systemd/system/protosuit-renderer.service
    mode: "0644"
  notify: reload systemd

- name: Create protosuit-launcher systemd service file
  template:
    src: "{{ playbook_dir }}/../templates/protosuit-launcher.service.j2"
    dest: /etc/systemd/system/protosuit-launcher.service
    mode: "0644"
  notify: reload systemd

- name: Create protosuit-web systemd service file
  template:
    src: "{{ playbook_dir }}/../templates/protosuit-web.service.j2"
    dest: /etc/systemd/system/protosuit-web.service
    mode: "0644"
  notify: reload systemd

- name: Create protosuit-bluetoothbridge systemd service file
  template:
    src: "{{ playbook_dir }}/../templates/protosuit-bluetoothbridge.service.j2"
    dest: /etc/systemd/system/protosuit-bluetoothbridge.service
    mode: "0644"
  notify: reload systemd

- name: Create protosuit-networkingbridge systemd service file
  template:
    src: "{{ playbook_dir }}/../templates/protosuit-networkingbridge.service.j2"
    dest: /etc/systemd/system/protosuit-networkingbridge.service
    mode: "0644"
  notify: reload systemd

- name: Install networking packages for AP mode
  apt:
    name:
      - iptables
      - dnsmasq
      - hostapd
      - network-manager
    state: present

- name: Disable and mask system hostapd service (we manage it ourselves)
  systemd:
    name: hostapd
    enabled: no
    state: stopped
    masked: yes
  ignore_errors: yes

- name: Ensure NetworkManager is enabled and running
  systemd:
    name: NetworkManager
    enabled: yes
    state: started

- name: Create polkit rule for NetworkManager access
  copy:
    dest: /etc/polkit-1/rules.d/50-allow-network-manager.rules
    content: |
      polkit.addRule(function(action, subject) {
          if (action.id.indexOf("org.freedesktop.NetworkManager.") == 0 &&
              subject.user == "{{ pi_user }}") {
              return polkit.Result.YES;
          }
      });
    mode: '0644'

- name: Allow user to manage network services without password
  copy:
    dest: /etc/sudoers.d/protosuit-networking
    content: |
      # Allow protosuit user to manage network services and interfaces without password
      {{ pi_user }} ALL=(ALL) NOPASSWD: /usr/bin/nmcli
      {{ pi_user }} ALL=(ALL) NOPASSWD: /sbin/ip
      {{ pi_user }} ALL=(ALL) NOPASSWD: /sbin/iptables
      {{ pi_user }} ALL=(ALL) NOPASSWD: /sbin/sysctl
      {{ pi_user }} ALL=(ALL) NOPASSWD: /usr/sbin/dnsmasq
      {{ pi_user }} ALL=(ALL) NOPASSWD: /usr/sbin/hostapd
      {{ pi_user }} ALL=(ALL) NOPASSWD: /usr/bin/pkill
      {{ pi_user }} ALL=(ALL) NOPASSWD: /sbin/rmmod 8851bu
      {{ pi_user }} ALL=(ALL) NOPASSWD: /sbin/modprobe 8851bu
    mode: '0440'
    validate: 'visudo -cf %s'

- name: Add user to netdev group for network management
  user:
    name: "{{ pi_user }}"
    groups: netdev
    append: yes

- name: Copy Python binary for privileged port binding
  copy:
    src: /usr/bin/python3
    dest: "{{ project_dir }}/env/bin/python3-privileged"
    remote_src: yes
    mode: '0755'
    owner: "{{ pi_user }}"
    group: "{{ pi_user }}"

- name: Allow Python to bind to privileged ports (for web server on port 80)
  community.general.capabilities:
    path: "{{ project_dir }}/env/bin/python3-privileged"
    capability: cap_net_bind_service+ep
    state: present

- name: Download OUI database if not exists
  get_url:
    url: https://standards-oui.ieee.org/oui/oui.txt
    dest: "{{ project_dir }}/data/oui.txt"
    mode: '0644'
    timeout: 60
  become_user: "{{ pi_user }}"
  ignore_errors: yes

# RTL8851BU USB Wi-Fi driver installation
- name: Check if RTL8851BU driver is installed
  stat:
    path: "/lib/modules/{{ ansible_kernel }}/kernel/drivers/net/wireless/8851bu.ko"
  register: rtl8851bu_driver

- name: Install RTL8851BU driver dependencies
  apt:
    name:
      - git
      - build-essential
      - dkms
    state: present
  when: not rtl8851bu_driver.stat.exists

- name: Clone RTL8851BU driver repository
  git:
    repo: https://github.com/biglinux/rtl8831.git
    dest: /tmp/rtl8831
    version: main
    force: yes
  become_user: "{{ pi_user }}"
  when: not rtl8851bu_driver.stat.exists

- name: Configure RTL8851BU driver for ARM64
  lineinfile:
    path: /tmp/rtl8831/Makefile
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  loop:
    - { regexp: '^CONFIG_PLATFORM_I386_PC = y', line: 'CONFIG_PLATFORM_I386_PC = n' }
    - { regexp: '^CONFIG_PLATFORM_ARM64_PC = n', line: 'CONFIG_PLATFORM_ARM64_PC = y' }
  when: not rtl8851bu_driver.stat.exists

- name: Build RTL8851BU driver
  command: make -j4
  args:
    chdir: /tmp/rtl8831
  when: not rtl8851bu_driver.stat.exists

- name: Install RTL8851BU driver
  command: make install
  args:
    chdir: /tmp/rtl8831
  when: not rtl8851bu_driver.stat.exists

- name: Load RTL8851BU driver module
  modprobe:
    name: 8851bu
    state: present
  ignore_errors: yes

- name: Ensure RTL8851BU driver loads on boot
  lineinfile:
    path: /etc/modules-load.d/rtl8851bu.conf
    line: 8851bu
    create: yes
    mode: '0644'

- name: Clean up RTL8851BU build directory
  file:
    path: /tmp/rtl8831
    state: absent
  when: not rtl8851bu_driver.stat.exists

- name: Add user to bluetooth and input groups
  user:
    name: "{{ pi_user }}"
    groups: bluetooth,input
    append: yes

- name: Allow user to manage Bluetooth service without password
  copy:
    dest: /etc/sudoers.d/protosuit-bluetooth
    content: |
      # Allow protosuit user to restart Bluetooth service and manage adapters without password
      {{ pi_user }} ALL=(ALL) NOPASSWD: /bin/systemctl restart bluetooth
      {{ pi_user }} ALL=(ALL) NOPASSWD: /usr/bin/hciconfig
    mode: '0440'
    validate: 'visudo -cf %s'

- name: Reload systemd daemon
  systemd:
    daemon_reload: yes

- name: Set system to boot to graphical target
  command: systemctl set-default graphical.target
  become: true

- name: Disable and remove legacy protosuit-engine wrapper service
  systemd:
    name: protosuit-engine
    enabled: no
    state: stopped
  ignore_errors: yes

- name: Remove legacy protosuit-engine service file
  file:
    path: /etc/systemd/system/protosuit-engine.service
    state: absent
  notify: reload systemd

- name: Enable protosuit-renderer service
  systemd:
    name: protosuit-renderer
    enabled: yes

- name: Enable protosuit-launcher service
  systemd:
    name: protosuit-launcher
    enabled: yes

- name: Enable protosuit-web service
  systemd:
    name: protosuit-web
    enabled: yes

- name: Enable protosuit-bluetoothbridge service
  systemd:
    name: protosuit-bluetoothbridge
    enabled: yes

- name: Enable protosuit-networkingbridge service
  systemd:
    name: protosuit-networkingbridge
    enabled: yes

- name: Start all protosuit services
  systemd:
    name: "{{ item }}"
    state: started
  loop:
    - protosuit-renderer
    - protosuit-launcher
    - protosuit-web
    - protosuit-bluetoothbridge
    - protosuit-networkingbridge