Section "Monitor"
    Identifier "HDMI-1"
    Option "PreferredMode" "{{ display_config.hdmi1.resolution }}"
    Option "Position" "{{ display_config.hdmi1.position }}"
    Option "Rotate" "{{ display_config.hdmi1.rotation }}"
EndSection

Section "Monitor"
    Identifier "HDMI-2"
    Option "PreferredMode" "{{ display_config.hdmi2.resolution }}"
    Option "Position" "{{ display_config.hdmi2.position }}"
    Option "Rotate" "{{ display_config.hdmi2.rotation }}"
EndSection

Section "Device"
    Identifier "VideoCard"
    Driver "modesetting"
    Option "kmsdev" "/dev/dri/card1"
EndSection

Section "Screen"
    Identifier "Screen0"
    Device "VideoCard"
    Monitor "HDMI-1"
    SubSection "Display"
        Depth 24
        Modes "{{ display_config.hdmi1.resolution }}"
    EndSubSection
EndSection

Section "ServerLayout"
    Identifier "DefaultLayout"
    Screen 0 "Screen0"
EndSection
