Section "Monitor"
    Identifier "{{ display_config.left.name }}"
    Option "PreferredMode" "{{ display_config.left.resolution }}"
    Option "Position" "{{ display_config.left.position }}"
    Option "Rotate" "{{ display_config.left.rotation }}"
EndSection

Section "Monitor"
    Identifier "{{ display_config.right.name }}"
    Option "PreferredMode" "{{ display_config.right.resolution }}"
    Option "Position" "{{ display_config.right.position }}"
    Option "Rotate" "{{ display_config.right.rotation }}"
EndSection

Section "Device"
    Identifier "VideoCard"
    Driver "modesetting"
    Option "kmsdev" "/dev/dri/card1"
EndSection

Section "Screen"
    Identifier "Screen0"
    Device "VideoCard"
    Monitor "{{ display_config.left.name }}"
    SubSection "Display"
        Depth 24
        Modes "{{ display_config.left.resolution }}"
    EndSubSection
EndSection

Section "ServerLayout"
    Identifier "DefaultLayout"
    Screen 0 "Screen0"
EndSection
