[Unit]
Description=Protosuit Engine System (Renderer + Launcher + Web Interface)
After=network.target mosquitto.service xserver.service
Wants=mosquitto.service xserver.service
Requires=xserver.service

[Service]
Type=oneshot
RemainAfterExit=yes
# Start all services
ExecStart=/bin/systemctl start protosuit-renderer.service
ExecStart=/bin/systemctl start protosuit-launcher.service
ExecStart=/bin/systemctl start protosuit-web.service
# Stop all services
ExecStop=/bin/systemctl stop protosuit-renderer.service
ExecStop=/bin/systemctl stop protosuit-launcher.service
ExecStop=/bin/systemctl stop protosuit-web.service
# Restart all services
ExecReload=/bin/systemctl restart protosuit-renderer.service
ExecReload=/bin/systemctl restart protosuit-launcher.service
ExecReload=/bin/systemctl restart protosuit-web.service

[Install]
WantedBy=graphical.target
