[Unit]
Description=Protosuit Engine System (Renderer + Engine + Web Interface)
After=network.target mosquitto.service xserver.service
Wants=mosquitto.service xserver.service
Requires=xserver.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/systemctl start protosuit-renderer.service
ExecStart=/bin/systemctl start {{ service_name }}.service
ExecStart=/bin/systemctl start protosuit-web.service
ExecStop=/bin/systemctl stop protosuit-renderer.service
ExecStop=/bin/systemctl stop {{ service_name }}.service
ExecStop=/bin/systemctl stop protosuit-web.service
# Restart actually restarts the child services
ExecReload=/bin/systemctl restart protosuit-renderer.service
ExecReload=/bin/systemctl restart {{ service_name }}.service
ExecReload=/bin/systemctl restart protosuit-web.service

[Install]
WantedBy=graphical.target
