[Match]
Name={{ usb_gadget.interface }}

[Network]
Address={{ usb_gadget.ip }}/24
Gateway={{ usb_gadget.gateway }}

[Route]
{% if inventory_hostname == 'left_fin' %}
# Route to right subnet via hub
Destination=192.168.43.0/24
Gateway={{ usb_gadget.gateway }}
{% else %}
# Route to left subnet via hub
Destination=192.168.42.0/24
Gateway={{ usb_gadget.gateway }}
{% endif %}